# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js
.next/
out/
coverage/

# Logs
logs
*.log

# OS
.DS_Store

# Env
.env
.env.local
.env.*.local

# Server artifacts
server/node_modules/
server/uploads/
stack/node_modules/
